$common-padding: 0.3em 0.7em;
$common-light: white;
$common-dark: #282c34;
$common-size: 0.7em;
$common-radius: 10px;
$common-border: 2px solid $common-light;

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $common-dark;
  font-size: calc(8px + 2vmin);
  color: white;
  
  *:focus {
    outline: none;
  }
  
  header {
    width: 100%;
    padding-bottom: 1em;
    background-color: $common-light;
    color: $common-dark;
    font-size: 0.7em;
  }
  
  .game-field {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  td {
    width: 6px;
    height: 6px;

    &.alive {
      background-color: $common-light;
    }
  }

  button {
    padding: $common-padding;
    background: $common-light;
    border: $common-border;
    color: $common-dark;

    &:hover:enabled,
    &:focus {
      background: none;
      color: $common-light;
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &.toggle {
      margin: 0 0.5em;
      border-radius: 50px;
      font-size: 0.8em;
    }

    &.copy {
      border-left: none;
      border-radius: 0 $common-radius $common-radius 0;
      font-size: $common-size;
    }
  }

  input:read-only {
    padding: $common-padding;
    background: none;
    border: $common-border;
    border-radius: $common-radius 0 0 $common-radius;
    color: $common-light;
    font-size: $common-size;
    text-overflow: ellipsis;

    &:focus {
      background: #ffffff52;
    }

    &::selection {
      background: #6f747d;
    }
  }
}
