$common-padding: 0.3em 0.7em;
$common-light: white;
$common-dark: #282c34;
$common-size: 0.7em;
$common-radius: 0.5em;
$common-border: 2px solid $common-light;

.app {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $common-dark;
  font-size: calc(8px + 2vmin);
  color: white;

  *:focus {
    outline: none;
  }

  header {
    width: 100%;
    padding-bottom: 1em;
    background-color: $common-light;
    color: $common-dark;
    font-size: 0.7em;
  }

  .heading {
    text-align: left;
    border-bottom: 1px solid white;
    font-weight: 300;
  }

  .size-input {
    display: flex;
    margin-bottom: 1.4em;

    label {
      flex: 1;
      margin-right: 1em;
      padding-top: 0.4em;
      text-align: right;
      font-size: 0.8em;
    }

    .input-group {
      flex: 1;
      text-align: left;

      .error {
        position: absolute;
        padding-top: 0.3em;
        font-size: 0.6em;
      }
    }
  }

  .game-field {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    section {
      width: 16em;
    }
  }

  .area {
    .area-row,
    .area-cell {
      line-height: 0;
      font-size: 0;
    }

    .area-row {
      display: flex;
    }
    .area-cell {
      margin: 1px;
    }
  }

  td {
    line-height: 0;
    font-size: 0;
    border: none;
    padding: 0;
  }

  button {
    padding: $common-padding;
    background: $common-light;
    border: $common-border;
    color: $common-dark;

    &:hover:enabled,
    &:focus {
      background: none;
      color: $common-light;
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &.toggle {
      margin: 0 0.5em;
      border-radius: $common-radius;
      font-size: 0.8em;
    }

    &.cell {
      width: 0.8em;
      height: 0.8em;
      margin: 0;
      padding: 0;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.25);
      border-radius: 2px;
      background: none;

      &.alive {
        background-color: $common-light;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.35);
      }
    }
  }

  input {
    padding: $common-padding;
    background: none;
    border: $common-border;
    border-radius: $common-radius;
    color: $common-light;
    font-size: $common-size;
    text-overflow: ellipsis;

    &:focus {
      background: rgba(255, 255, 255, 0.25);
    }

    &::selection {
      background: #6f747d;
    }
  }

  .group {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      border-left: none;
      border-radius: 0 $common-radius $common-radius 0;
      font-size: $common-size;
    }
  }
}
